
<h4 class="my-3">
  <i class="far fa-clipboard-list-check"></i>
  <span class="ms-2">Lista usuarios</span>
</h4>

<!-- Cargando Alert -->
<div *ngIf="cargando" class="alert alert-info text-center" role="alert">
  <h4 class="alert-heading">
    <i class="fal fa-sync fa-spin"></i>
    Cargando
  </h4>
</div>

<!-- Error Alert -->
<div *ngIf="verError" class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">
    <i class="fal fa-bomb"></i>
    ¡Error! Algo salió mal...
  </h4>
  <!-- <pre> {{ verError | json }}</pre> -->
</div>

<div *ngIf="!cargando"
     class="row row-cols-1 row-cols-md-2">
    <div class="col"*ngFor="let usuario of usuarios" >
      <div class="card mb-3 g-0" >

        <div class="row g-0">

            <div class="col-md-4">
              <img [src]="usuario.avatar" class="card-img-top">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title mb-0">
                    {{ usuario.first_name }} {{ usuario.last_name }}
                  </h3>
                  <p class="card-text mb-1 text-secondary">{{ usuario.email}} ID: {{ usuario.id }}</p>
                  <p class="card-text texto-small">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>

                </div>
            </div>

        </div>

      </div>
    </div>


</div>


